.heading{
    font-family: $font-heading, 'Arial';
    font-size: 4rem;
    text-align: center;
    &--header{
        font-weight: 400;
        color: $color-dark-pink;
    }
    &--section{
        font-size: 3rem;
        width: max-content;
    }
    &--white{
        color: $color-white;
    }
    &--pink{
        color: $color-light-pink
    }
}

.paragraph{
    font-family: $font-paragraph, 'Arial';
    &--header{
        font-size:2rem;
    }
    &--light-pink{
        color: $color-light-pink;
    }
    &--dark-pink{
        color: $color-dark-pink;
    }
}
.link{
    text-decoration: none;
    font-family: 'Lato';
    font-weight: 300;
    font-size: 1.25rem;
    color: $color-dark-pink;
    cursor: pointer;
}
