
$color-dark-pink: #691D2E;
$color-light-pink: #ECBCC4;
$color-light-green: #98D198;
$color-dark-green: #669204;
$color-white: #FFFFFF;
$font-heading: url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400&display=swap');
$font-paragraph: url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

.heading{
    font-family: $font-heading, 'Arial';
    font-size: 4rem;
    text-align: center;
    &--header{
        font-weight: 400;
        color: $color-dark-pink;
    }
    &--section{
    }
    &--white{
        color: $color-white;
    }
    &--pink{
        color: $color-light-pink
    }
}

.paragraph{
    font-family: $font-paragraph, 'Arial';
    &--header{
        font-size:2rem;
    }
    &--light-pink{
        color: $color-light-pink;
    }
    &--dark-pink{
        color: $color-dark-pink;
    }
}
.link{
    text-decoration: none;
    font-family: 'Lato';
    font-weight: 300;
    font-size: 1.25rem;
}
